.note {
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  box-shadow: 4px 4px 5px -2px rgba(0, 0, 0, 0.48);
  margin-top: 10px;
  padding: 10px;
  margin: 0 10px 18px;
  display: block;
}

.note .text-content {
  border: none;
  border-radius: 10px;
}

.note .text-content code {
  background-color: var(--primary-color-darker);
  padding: 0.5em 10px;
  margin: 1em 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.note .text-content blockquote {
  background-color: var(--primary-color-darker);
  border-left: 10px solid var(--primary-color-super-darker);
  padding: 0.5em 10px;
  margin: 1em 10px;
}

.note .text-content .editing-area {
  white-space: pre-line;
  background-color: var(--primary-color-darker);
  box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.185);
  color: var(--primary-text-color);
  max-width: -webkit-fill-available;
  min-width: -webkit-fill-available;
  height: 120px;
  resize: none;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-family: inherit;
}

.note .text-content .editing-area:focus {
  outline-style: none;
}

.note .text-content p {
  margin: 0;
}

.note .buttons {
  text-align: right;
  margin-top: 4px;
}

.note .buttons .button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-text-color);
  margin: 7px 2px 7px 4px;
}

.note .buttons .button:hover {
  border-radius: 8px;
  background-color: var(--primary-color-darker);
  margin: 4px 0 4px 2px;
  padding: 4px 8px;
  cursor: pointer;
}

.note .buttons .button:focus {
  outline-style: none;
}
