.note {
  border: 1px solid black;
  box-shadow: 4px 4px 5px -2px rgba(0, 0, 0, 0.48);
  margin-top: 10px;
  padding: 10px;
  display: block;
}

.note .text-content {
  background-color: #f3f3f3;
}

.note .text-content .editing-area {
  white-space: pre-line;
  background-color: #e6e6e6;
  max-width: -webkit-fill-available;
  min-width: -webkit-fill-available;
  height: 100px;
  border: none;
}

.note .text-content p {
  margin: 0;
}

.note .buttons {
  text-align: right;
  margin-bottom: 10px;
}
