.notes-maker {
  text-align: right;
  margin: 10px;
}

.input-area {
  max-width: -webkit-fill-available;
  min-width: -webkit-fill-available;
  padding: 10px;
  border-radius: 10px;
  height: 100px;
  box-shadow: 4px 4px 5px -2px rgba(0, 0, 0, 0.48);
  background-color: #353535;
  color: var(--primary-text-color);
  border: none;
  resize: none;
  font-size: 1rem;
  font-family: inherit;
}

.input-area:focus {
  outline-style: none;
}

.new-note-btn {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-text-color);
  margin: 7px 2px 7px 4px;
}

.new-note-btn:hover {
  border-radius: 8px;
  background-color: #3b3b3b;
  margin: 4px 0 4px 2px;
  padding: 4px 8px;
  cursor: pointer;
}

.new-note-btn:focus {
  outline-style: none;
}
